body{
	font-family: 'Raleway', sans-serif;
	max-width: 100%;
	display: flex;
	flex-flow: column;
}

h1,
h2{
	color: #2d3c49;
}

img{
	max-height: 100%;
	max-width: 100%;
}

/* Header */

header{
	border-bottom: 4px solid #7d97ad;
	display: flex;
	flex-flow: row;
	margin-bottom: 10px;
	max-height: 75px;
	width: 100%;
}

#logo_div{
	width: 20%;
}

#title_div{
	display: flex;
	flex-flow: row wrap;
	width: 80%;
}

#name{
	align-self: flex-end;
	font-size: 20px;
	margin: 0;
	text-align: right;
	width: 100%;
}

#title{
	align-self: flex-start;
	font-size: 14px;
	margin: 0;
	text-align: right;
	width: 100%;
}


/* Main Hero Image */

#hero{
	margin-bottom: 10px;
	width: 100%;
}

/* Featured Work Section */

#featured{
	display: flex;
	flex-flow: row wrap;
}

#featured_title{
	color: #7d97ad;
	margin: 0;
	text-align: center;
	width: 100%;
}

.project{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 10px 0 10px 0;
	max-width: 100%;
}

.project_info{
	align-items: center;
	display: flex;
	flex-flow: column;
	max-width: 100%;
	width: 250px;
	word-wrap: break-word;
}

.project_title{
	font-size: 15px;
	font-weight: bolder;
	margin: 0;
}

.date_complete{
	font-size: 12px;
	margin-top: 2px;
	margin-bottom: 2px;
}

.url{
	font-size: 12px;
	max-width: 100%;
}

.project_description{
	display: none;
}

/* Layout Shift for Tablets*/

@media screen and (min-width: 516px){

	.project{
		justify-content: flex-start;
		align-items: center;
		margin-top: 10px;
	}

	.project_image {
		max-width: 250px;
		max-height: 150px;
		width: 50%;
	}

	.project_info{
		flex-grow: 2;
		max-height: 150px;
		max-width: 380px;
		width: 50%;
	}

	.url,
	.project_description{
		max-width: 90%;
	}

	.project_description{
		display: block;
		font-size: 14px;
		overflow: scroll;
	}

}

/* Minor breakpoint to center featured work*/

@media screen and (min-width: 650px){
	.project{
		margin-left: auto;
		margin-right: auto;
	}

}

/* Layout Shift for Laptops and up */

@media screen and (min-width: 920px){
	body{
		margin: auto;
		max-width: 900px;
	}

	.project{
		flex-flow: column;
		width: 33.33%;
	}

	.project_image{
		width: 100%;
	}

	.project_info{
		width: 100%;
	}

	.project_info{
		max-height: 500px;
		max-width: 300px;
	}

}



